.header{
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.header-search{
    display: flex;
    align-items:flex-end;
    width: 50%;
}
.header-title{
    display: flex;
    align-items: flex-start;
    width: 50%;
}